<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="type-mask", style="font-family: cursive;">
<h1>TimeChat</h1>
</div>
    <% unless user_signed_in? %>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-fullwidth" %>
           <br>
           <%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post, class: "button is-warning is-fullwidth" %>
           <br>
          <%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post, class: "button is-warning is-fullwidth" %>
        </div>
      </div>
    </div>
  </article>
  <br>
  <% end %>

  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>

<%= video_tag("/videos/city.mp4", autoplay: :true, loop: :true, muted: :true, style: "width:100%;") %>
